@import 'scss/variables';
@import 'scss/mixins';

.header {
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  margin: 0 auto;
}
.searchContainer {

  .searchField {
    width: 260px + (40px * 2);
    display: flex;
    align-items: center;
    height: 40px;
    border: 2px solid $search-field-border-color;
    background: $search-field-background-color;
    border-radius: 12px;
    @include transition(.3s ease);

    &:focus-within {
      border: 2px solid $search-field-border-color;

      .icon {
        color: $search-field-alt-color;
      }
    }

    .icon {
      color: $search-field-color;
      margin: auto 10px;
    }
    input {
      width: 100%;
      min-width: 260px;
      max-width: 260px;
      height: 100%;
      border: none;
      background: $search-field-background-color;
      border-radius: 12px;
      padding: 0 5px;
      font-family: $SFUI-Display-Semibold;
      font-size: .85rem;
      font-weight: normal;
      font-style: normal;
      color: $search-field-text-color;
      @include transition(.3s ease);

      &::placeholder {
        color: $search-field-color;
      }
    }
    .searchFieldClearButton {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      background: transparent;
      margin: auto 10px;

      &:hover {
        .buttonIcon {
          color: $search-field-alt-color;
        }
      }
      .buttonIcon {
        color: $search-field-color;
      }
    }
  }
}

.userContainer {
  display: flex;
  align-items: center;

  .userContainerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: $notification-icons-color;
    margin: 0 5px;
    cursor: pointer;

    .icon {
      &:hover {
        color: $notification-icons-alt-color;
      }
    }
  }
}
