@import 'scss/variables';
@import 'scss/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.searchContainer {
  margin: 0 50px;

  .searchField {
    width: 100%;
    max-width: $Search-Width + $Search-Icon-Width;
    display: flex;
    align-items: center;
    height: $Search-Height;
    border: 2px solid $Search-Border;
    background: $Search-Background;
    border-radius: $Search-BorderRadius;
    @include transition(.3s ease);

    &:focus-within {
      border: 2px solid $Search-Border-hovered;

      .icon {
        color: $color-red;
      }
    }
    .icon {
      color: $Search-Icon-Color;
      margin: auto 10px;
    }
    input {
      width: 100%;
      min-width: $Search-Width;
      max-width: $Search-Width;
      height: 100%;
      border: none;
      background: $Search-Background;
      border-radius: $Search-BorderRadius;
      padding: 0 5px;
      font-family: $SFUI-Display-Semibold;
      font-size: .85rem;
      font-weight: normal;
      font-style: normal;
      color: $Search-Text-Color;

      &::placeholder {
        color: $Search-Text-Color;
      }
    }
  }
}

.userContainer {
  display: flex;
  align-items: center;
  margin: 0 50px;

  .userContainerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: $UserContainer-Color;
    margin: 0 5px;
    cursor: pointer;

    .icon {
      &:hover {
        color: $color-red;
      }
    }
  }
}
