/*  COLORS
========================================== */
$color-white: #FAFAFA;
$color-white-10: #FFFFFF19;
$color-green: #51FDBA;
$color-green-darkened: #21D07A;
$color-green-60: #51FDBA99;
$color-black: #000000;
$color-black-grey: #141414;
$color-black-grey-90: #141414E6;
$color-black-grey-lighter: #1B1B1B;
$color-light-black: #242424F2;
$color-light-black-45: #24242472;
$color-light-black-50: #1010107F;
$color-grey: #B0B0B0;
$color-dark-grey: #343434;
$color-red: #D63030;
$color-yellow: #FFD331;

/*  FONTS
========================================== */

$Lato-Black: 'Lato-Black', sans-serif;
$SFUI-Display-Semibold: "SF UI Display Semibold", sans-serif;
$SFUI-Display-Light: "SF UI Display Light", sans-serif;

/*  HEADER
========================================== */

$Header-height: 60px;

/*  SIDEBAR
========================================== */

$SideBar-MaxWidth: 260px;
$SideBar-MinWidth: 80px;
$SideBar-Text-Color: #adadad;
$SideBar-Icon-Color: #adadad;

/*  CONTENT FILTER ROW
========================================== */
$Content-Filter-Buttons-Width: 56px;
$Content-Filter-Buttons-Height: 56px;
