/*  COLORS
========================================== */
$color-white-primary: var(--color-white-primary);
$color-white-secondary: var(--color-white-secondary);
$color-grey-primary: var(--color-grey-primary);
$color-grey-secondary: var(--color-grey-secondary);
$color-grey-thirdly: var(--color-grey-thirdly);
$color-grey-fours: var(--color-grey-fours);
$color-red-primary: var(--color-red-primary);
$color-orange-primary: var(--color-orange-primary);
$color-yellow-primary: var(--color-yellow-primary);
$color-blue-primary: var(--color-blue-primary);
$color-black-primary: var(--color-black-primary);

$logo-text-color: var(--logo-text-color);
$logo-dot-color: var(--logo-dot-color);
$app-container-color: var(--app-container-color);
$aside-nav-color: var(--aside-nav-color);
$aside-nav-color-active: var(--aside-nav-color-active);
$aside-nav-alt-color: var(--aside-nav-alt-color);
$aside-border-color: var(--aside-border-color);
$search-field-background-color: var(--search-field-background-color);
$search-field-border-color: var(--search-field-border-color);
$search-field-color: var(--search-field-color);
$search-field-alt-color: var(--search-field-alt-color);
$search-field-text-color: var(--search-field-text-color);
$notification-icons-color: var(--notification-icons-color);
$notification-icons-alt-color: var(--notification-icons-alt-color);
$theme-switcher-background: var(--theme-switcher-background);
$theme-switcher-border: var(--theme-switcher-border);
$theme-switcher-checker: var(--theme-switcher-checker);
$theme-switcher-sun: var(--theme-switcher-sun);
$theme-switcher-moon: var(--theme-switcher-moon);
$user-avatar-line-color: var(--user-avatar-line-color);
$user-avatar-line-alt-color: var(--user-avatar-line-alt-color);
$slider-title-color: var(--slider-title-color);
$slider-overview-color: var(--slider-overview-color);
$slider-rate-color: var(--slider-rate-color);
$slider-dot-color: var(--slider-dot-color);
$slider-dot-border-color: var(--slider-dot-border-color);
$slider-dot-selected-color: var(--slider-dot-selected-color);
$slider-dot-border-selected-color: var(--slider-dot-border-selected-color);
$slider-imdb-icon-color: var(--slider-imdb-icon-color);
$slider-imdb-icon-background-color: var(--slider-imdb-icon-background-color);
$slider-watch-list-button-background-color: var(--slider-watch-list-button-background-color);
$slider-watch-list-button-background-color-active: var(--slider-watch-list-button-background-color-active);
$button-background-color: var(--button-background-color);
$button-background-color-active: var(--button-background-color-active);
$button-text-color: var(--button-text-color);
$section-title-text-color: var(--section-title-text-color);
$section-title-before-line-color: var(--section-title-before-line-color);
$dual-tab-buttons-color: var(--dual-tab-buttons-color);
$dual-tab-buttons-color-selected: var(--dual-tab-buttons-color-selected);
$content-card-horizontal-title-color: var(--content-card-horizontal-title-color);
$content-card-horizontal-year-color: var(--content-card-horizontal-year-color);
$content-card-horizontal-description-color: var(--content-card-horizontal-description-color);
$content-card-horizontal-gradient: var(--content-card-horizontal-gradient);
$content-card-play-button-color: var(--content-card-play-button-color);
$content-card-play-button-shadow-color: var(--content-card-play-button-shadow-color);
$trends-row-buttons-color: var(--trends-row-buttons-color);
$trends-row-buttons-color-active: var(--trends-row-buttons-color-active);
$trends-row-buttons-color-disabled: var(--trends-row-buttons-color-disabled);
$content-card-vertical-title-color: var(--content-card-vertical-title-color);
$content-card-vertical-year-color: var(--content-card-vertical-year-color);
$shape-loader-base-color: var(--shape-loader-base-color);
$shape-loader-color: var(--shape-loader-color);
$pagination-color: var(--pagination-color);
$pagination-item-background-color-active: var(--pagination-item-background-color-active);
$pagination-item-selected-color: var(--pagination-item-selected-color);
$pagination-item-selected-background-color: var(--pagination-item-selected-background-color);
$pagination-input-background-color: var(--pagination-input-background-colorv);
$pagination-input-border-color: var(--pagination-input-border-color);
$pagination-input-border-color-active: var(--pagination-input-border-color-active);
$content-details-card-title-color: var(--content-details-card-title-color);
$content-details-card-original-title-color: var(--content-details-card-original-title-color);
$content-details-card-features-color: var(--content-details-card-features-color);
$content-details-card-rating-text-color: var(--content-details-card-rating-text-color);
$content-details-card-vote-button-background-color: var(--content-details-card-vote-button-background-color);
$content-details-card-vote-button-background-color-selected: var(--content-details-card-vote-button-background-color-selected);
$content-details-card-overview-title-color: var(--content-details-card-overview-title-color);
$content-details-card-overview-tagline-color: var(--content-details-card-overview-tagline-color);
$content-details-card-overview-color: var(--content-details-card-overview-color);
$content-details-card-watch-button-color: var(--content-details-card-watch-button-color);
$content-details-card-close-player-button-color: var(--content-details-card-close-player-button-color);
$person-card-name-color: var(--person-card-name-color);
$person-card-role-color: var(--person-card-role-color);
$collection-card-title-color: var(--collection-card-title-color);
$collection-card-movies-count-color: var(--collection-card-movies-count-color);
$collection-card-overview-color: var(--collection-card-overview-colorv);
$content-extra-info-column-label-color: var(--content-extra-info-column-label-color);
$content-extra-info-column-text-color: var(--content-extra-info-column-text-color);
$content-useful-info-border-color: var(--content-useful-info-border-color);
$social-networks-icons-color: var(--social-networks-icons-color);
$social-networks-border-color: var(--social-networks-border-color);
$season-card-background-color: var(--season-card-background-color);
$season-card-title-color: var(--seasson-card-title-color);
$season-card-description-color: var(--seasson-card-description-color);
$season-card-overview-color: var(--seasson-card-overview-color);
$transparent-button-text-color: var(--transparent-button-text-color);
$transparent-button-text-color-active: var(--transparent-button-text-color-active);
$person-extra-info-column-label-color: var(--person-extra-info-column-label-color);
$person-extra-info-column-text-color: var(--person-extra-info-column-text-color);
$person-details-container-border-color: var(--person-details-container-border-color);

/*  GRADIENTS
========================================== */
$orange-grey-gradient-secondary: linear-gradient(45deg, $color-yellow-primary 0%, $color-grey-thirdly 65%);
$red-transparentRed-gradient-primary: linear-gradient(45deg, $color-red-primary 0%, rgba(215, 31, 38, 0.85) 80%);

/*  FONTS
========================================== */
$Lato-Black: 'Lato-Black', sans-serif;
$SFUI-Display-Semibold: "SF UI Display Semibold", sans-serif;
$SFUI-Display-Light: "SF UI Display Light", sans-serif;
$SFUI-Display-Regular: "SF UI Display Regular", sans-serif;
