/*  COLORS
========================================== */
$color-white-primary: var(--color-white-primary);
$color-white-secondary: var(--color-white-secondary);
$color-grey-primary: var(--color-grey-primary);
$color-grey-secondary: var(--color-grey-secondary);
$color-grey-thirdly: var(--color-grey-thirdly);
$color-grey-fours: var(--color-grey-fours);
$color-red-primary: var(--color-red-primary);
$color-orange-primary: var(--color-orange-primary);
$color-yellow-primary: var(--color-yellow-primary);
$color-blue-primary: var(--color-blue-primary);
$color-black-primary: var(--color-black-primary);

$logo-text-color: var(--logo-text-color);
$logo-dot-color: var(--logo-dot-color);
$app-container-color: var(--app-container-color);
$aside-nav-color: var(--aside-nav-color);
$aside-nav-alt-color: var(--aside-nav-alt-color);
$aside-border-color: var(--aside-border-color);
$search-field-background-color: var(--search-field-background-color);
$search-field-border-color: var(--search-field-border-color);
$search-field-color: var(--search-field-color);
$search-field-alt-color: var(--search-field-alt-color);
$search-field-text-color: var(--search-field-text-color);
$notification-icons-color: var(--notification-icons-color);
$notification-icons-alt-color: var(--notification-icons-alt-color);

/*  GRADIENTS
========================================== */
$orange-grey-gradient-primary: linear-gradient(45deg, $color-yellow-primary 0%, $color-grey-thirdly 50%);
$orange-grey-gradient-secondary: linear-gradient(45deg, $color-yellow-primary 0%, $color-grey-thirdly 65%);
$red-transparentRed-gradient-primary: linear-gradient(45deg, $color-red-primary 0%, rgba(215, 31, 38, 0.85) 80%);

/*  FONTS
========================================== */
$Lato-Black: 'Lato-Black', sans-serif;
$SFUI-Display-Semibold: "SF UI Display Semibold", sans-serif;
$SFUI-Display-Light: "SF UI Display Light", sans-serif;
$SFUI-Display-Regular: "SF UI Display Regular", sans-serif;
