@import "scss/variables";
@import "scss/mixins";

.burgerMenu {
  display: flex;
  align-items: center;
  width: 33px;
  height: 24px;
  padding: 5px;
  cursor: pointer;

  span {
    position: relative;
    background: $color-white;
    height: 2px;
    width: 23px;
    padding: 0;
    border: none;
    outline: none !important;
    margin-bottom: auto;
    @include transition(all .3s ease);

    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      width: inherit;
      height: inherit;
      background: $color-white;
      @include transform-origin(1.5px center);
      @include transition(all .3s ease);
    }

    &:before {
      top: 6px;
    }

    &:after {
      bottom: -12px;
    }
  }
  &.open {
    span {
      &:before, &:after {
        width: 100%;
      }
      &:before {
        width: 75%;
        //transform: translateX(40%);
      }
      &:after {
        width: 50%;
      }
    }
  }
}
