@import 'scss/mixins';
@import 'scss/variables';

.search {
  width: 100%;
  display: flex;
  border: 1px solid $color-dark-grey;
  border-radius: 3px;
  @include transition(.3s);

  &.active {
    width: 75%;
    display: flex;
  }
  &:focus-within {
    border: 1px solid $color-green-60;
  }
  @include Large-Mobile {
    display: none;
  }
  input {
    width: 100%;
    height: 38px;
    color: $color-grey;
    background-color: $color-light-black-45;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border: none;
    outline: none;
    line-height: 20px;
    padding: 5px 10px;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-light-black-45;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border: none;
    color: $color-grey;
    padding: 5px 10px;
    cursor: pointer;
    @include transition(.3s);

    &:hover {
      color: $color-white;
    }
  }

}
