@import "scss/variables";
@import "scss/mixins";

.contentFilterRow {
  width: 100%;
  position: sticky;
  top: $Header-height;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  background: $color-black-grey-90;
  border-bottom: 1px solid $color-dark-grey;
  //padding: 0 $SideBar-MinWidth;
  padding: 0 56px;
  z-index: 100;
  overflow-x: hidden;

  .contentFilterButtonsContainer {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: fit-content;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(.05, 0, 0, 1);
    will-change: transform;
    white-space: nowrap;

    .contentFilterButton {
      font-family: $SFUI-Display-Light;
      font-size: .875rem;
      background: $color-white-10;
      border: 1px solid $color-white-10;
      border-radius: 15px;
      color: $color-white;
      padding: 5px 10px;
      margin: 0 7px;
      cursor: pointer;
      @include transition(.3s);

      &:hover {
        background: $color-white;
        color: $color-dark-grey;
        border: 1px solid $color-white;
      }
    }
  }

  &.isOpenSidebar {
    //padding: 0 $SideBar-MaxWidth;
    //
    //@include Full-HD2KPlus-Desktop {
    //  padding: 0 $SideBar-MaxWidth;
    //}
    //@include Full-HD2K-Desktop {
    //  padding: 0 0 0 $SideBar-MaxWidth;
    //}
    //
    //@include Full-HD-Desktop {
    //  padding: 0 0 0 $SideBar-MaxWidth + 20;
    //}
  }
}

.contentFilterSlideButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $Content-Filter-Buttons-Height;
  width: $Content-Filter-Buttons-Width;
  background: $color-black-grey;
  border: none;
  font-size: 1.125rem;
  color: $color-white;
  cursor: pointer;
  z-index: 100;

  &.contentFilterSlideButtonLeft {
    position: absolute;
    left: 0;
    top: 0;

    &:after {
      position: absolute;
      left: $Content-Filter-Buttons-Width;
      top: 0;
      height: 100%;
      width: 50px;
      content: "";
      pointer-events: none;
      background: linear-gradient(to right, $color-black-grey 20%, rgba(33, 33, 33, 0) 80%);
    }
  }
  &.contentFilterSlideButtonRight {
    position: absolute;
    right: 0;
    top: 0;

    &:after {
      position: absolute;
      right: $Content-Filter-Buttons-Width;
      top: 0;
      height: 100%;
      width: 50px;
      content: "";
      pointer-events: none;
      background: linear-gradient(to left, $color-black-grey 20%, rgba(33, 33, 33, 0) 80%);
    }
  }
}
