@import "scss/variables";
@import "scss/mixins";

.logo {
  width: 100%;
  max-width: 110px;
  font-family: $Lato-Black;
  font-size: 1.17rem;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  margin: 3px;
  user-select: none;
  cursor: pointer;

  &:hover {
    .logoTextGreen {
      margin-right: 2px;
    }
    .logoTextDomain {
      opacity: 1;
      font-size: 1rem;
    }
  }

  .logoTextGreen {
    color: $color-green;
    transition: .3s;
  }
  .logoTextDomain {
    opacity: 0;
    text-transform: lowercase;
    font-size: 0;
    @include transition(.3s);
  }
}

