.noDataImage {
  width: 100%;
  height: 800px;
  background-image: url('../../../public/img/No-data-image.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
