@import '../../scss/variables';
@import '../../scss/mixins';

.sliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: auto;
  max-height: 525px;
  min-height: 525px;
  margin: 0 auto 25px auto;
  padding: 7px 50px 30px 50px;
  border-radius: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;

  .sliderTitle {
    font-family: $SFUI-Display-Semibold;
    font-size: 2.5rem;
    font-weight: normal;
    font-style: normal;
    color: $color-white-primary;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    margin: 5px 0;
  }
  .sliderOverview {
    width: 100%;
    max-width: 530px;
    font-family: $SFUI-Display-Regular;
    font-size: 1.05rem;
    font-weight: normal;
    font-style: normal;
    color: $color-white-primary;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    margin: 5px 0 15px 0;
  }

  .sliderRate {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: $SFUI-Display-Semibold;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
    color: $color-white-primary;
    margin: 5px 0;

    p {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 5px;

      i {
        filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 50%));
      }
      &:first-child {
        margin: 0 5px 0 0;
      }
      .icon {
        color: $color-orange-primary;
        &.iconBackground {
          position: relative;
          z-index: 1;
          &:after {
            position: absolute;
            top: 2px;
            left: 2px;
            display: block;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: $color-black-primary;
            border-radius: 3px;
            content: '';
            z-index: -1;
          }
        }
      }
      span {
        min-width: 50px;
        margin: 0 7px;
        text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
      }
    }
  }
  .sliderFooterContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    .sliderButtonsContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      a {
        text-decoration: none;
      }

      .sliderButton {
        @include button();
        @include transition(.3s ease);

        &:first-child {
          margin: 0 10px 0 0;
        }
        &.sliderWatchButton {
          width: 130px;
        }
        &.sliderWatchListButton {
          width: 60px;
          background-color: #6A6A6B;

          &:hover {
            background-color: #787878;
          }
        }
      }
    }

    .sliderNavBarContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      .sliderNavBarDot {
        width: 15px;
        height: 15px;
        background: $color-white-primary;
        border: 1px solid $color-white-primary;
        border-radius: 50%;
        filter: drop-shadow(0 0 1px rgba(0, 0, 0, .5));
        margin: 0 7px;
        cursor: pointer;
        @include transition(.3s ease);

        &.selected {
          border-radius: 50%;
          background: $color-red-primary;
          border: 1px solid $color-red-primary;
          filter: drop-shadow(0 0 1px rgba(0, 0, 0, .5));
          animation: pulse 2s infinite;
        }
      }
    }

  }
  .sliderImgContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 4px);
      background: #0000003b;
      border-radius: 30px;
      content: '';
      z-index: 1;
    }

    .sliderImg {
      border-radius: 30px;
      object-fit: cover;
      object-position: top;
    }
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(144, 136, 223, .4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(144, 136, 223, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(144, 136, 223, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(144, 136, 223, .4);
    box-shadow: 0 0 0 0 rgba(144, 136, 223, .4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(144, 136, 223, 0);
    box-shadow: 0 0 0 10px rgba(144, 136, 223, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(144, 136, 223, 0);
    box-shadow: 0 0 0 0 rgba(144, 136, 223, 0);
  }
}
