@import 'scss/variables';

.socialNetworksContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  a {
    text-decoration: none;
    color: $social-networks-icons-color;

    &.separateLine {
      &:last-child {
        padding-left: 10px;
        border-left: 1px solid $social-networks-border-color;
        transition: border-left-color .3s;
      }
    }
  }
}
