@import 'scss/variables';
@import 'scss/mixins';

.contentContainer {
  width: 240px;

  .contentCardContainer {
    border-radius: .7rem;
    @include transition(.3s);

    &:hover {
      background: $orange-grey-gradient-secondary;
      @include transform(translateY(-5px));
    }

    .contentCardImgContainer {
      height: 390px;
      border-radius: .7rem;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .20);

      &:hover {
        opacity: .5;
        @include transition(.3s);
      }

      .contentCardImg {
        border-radius: .7rem;
      }
    }
  }
  .contentCardFooter {
    cursor: pointer;
    margin: 5px 0;
    padding: 0 3px;

    .contentCardFooterTitle {
      font-family: $SFUI-Display-Semibold;
      font-size: 1.1rem;
      color: $content-card-vertical-title-color;
      margin: 3px 0;
    }

    .contentCardFooterDate {
      font-family: $SFUI-Display-Light;
      font-weight: 500;
      font-size: 0.9rem;
      color: $content-card-vertical-year-color;
      margin: 3px 0;
    }
  }
}

