@import 'scss/variables';

.loadingMessageContainer {
  width: 100%;
  position: relative;
  height: 400px;
  margin: auto;

  h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    font-family: 'ProximaNova-Thin', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.1rem;
    transform: translate(-50%, -50%);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: loader 1.2s infinite ease-in-out;

  span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: $shape-loader-base-color;
    animation: loaderBlock 1.2s infinite ease-in-out both;
    opacity: .7;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      top: 0;
      right: 0;
      animation: loaderBlockInverse 1.2s infinite ease-in-out both;
    }
    &:nth-child(3) {
      bottom: 0;
      left: 0;
      animation: loaderBlockInverse 1.2s infinite ease-in-out both;
    }
    &:nth-child(4) {
      bottom: 0;
      right: 0;
    }
  }
}

@keyframes loader {
  0%, 10%, 100% {
    width: 80px;
    height: 80px;
  }
  65% {
    width: 150px;
    height: 150px;
  }
}
@keyframes loaderBlock {
  0%, 30% {
    transform: rotate(0);
  }
  55% {
    background-color: $shape-loader-color;
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes loaderBlockInverse {
  0%, 20% {
    transform: rotate(0);
  }
  55% {
    background-color: $shape-loader-color;
  }
  100% {
    transform: rotate(-90deg);
  }
}
