@import 'scss/variables';
@import 'scss/mixins';

.contentCardAltContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contentCardAltDescriptionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin: 10px 0 5px 0;
  }
  .contentCardAltTitle {
    color: $content-card-horizontal-title-color;
    font-family: $SFUI-Display-Semibold;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .contentCardAltYear {
    color: $content-card-horizontal-year-color;
    font-family: $SFUI-Display-Light;
    font-weight: 500;
    font-size: .9rem;
  }
  .contentCardAltDescription {
    color: $content-card-horizontal-description-color;
    font-family: $SFUI-Display-Light;
    font-weight: 500;
    font-size: 0.82rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.contentCardAltCardWrapper {
  position: relative;
  border-radius: .7rem;
  @include transition(.3s);

  &:hover {
    background: $content-card-horizontal-gradient;
    @include transform(translateY(-5px));
  }

  .contentCardAltImgContainer {
    position: relative;
    width: 300px;
    height: 170px;
    border-radius: .7rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .20);

    &:hover {
      opacity: .5;
      @include transition(.3s);
    }

    .contentCardAltImg {
      border-radius: .7rem;
    }
  }

  .contentCardAltPlayIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $content-card-play-button-color;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px $content-card-play-button-shadow-color);
    z-index: 10;
    @include transform(translate(-50%, -50%));

    &:hover {
      opacity: .85;
    }
  }

}
