@import 'scss/variables';

.contentContainer {
  width: 100%;
  padding: 10px 0;
}
.trendsContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 25px 0;

  .sectionTitle {
    width: fit-content;
    font-family: $SFUI-Display-Semibold;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    color: $Trends-Title-Color;
    margin: 10px 0;
  }
}

