@import 'scss/variables';
@import 'scss/mixins';

.contentContainer {
  width: 100%;
  padding: 10px 0;
}
.trendsContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 25px 0;
}
.trendsTitleContainer {
  width: 100%;
  max-width: 1305px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contentPageContainer {
  width: 100%;
  max-width: 1400px;
  padding: 30px 0;
  margin: 0 auto;

  .contentMappedContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 15px 0;
  }
}

.contentUsefulInformation {
  display: flex;

  .contentUsefulInformationMain {
    .actorsStuffContainer, .relatedContentContainer {
      .actorsStuffScrollLayout, .relatedContentScrollLayout {
        width: 100%;
        max-width: 1115px;
        display: flex;
        gap: 30px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        margin: 20px 0;
        padding: 10px 0;

        &::-webkit-scrollbar {
          display: none;
        }
        &:hover::-webkit-scrollbar {
          display: none;
        }
        &:hover::-webkit-scrollbar-thumb {
          display: none;
        }
        &::-webkit-scrollbar-track {
          display: none;
        }
        &::-webkit-scrollbar-thumb {
          display: none;
        }
      }
    }
    .seasonCardContainer {
      margin-bottom: 50px;

      .transparentButton {
        font-family: $SFUI-Display-Semibold;
        font-size: 1.1rem;
        font-style: normal;
        color: #304354;
        background: transparent;
        border: 0;
        margin: 5px 0;
        cursor: pointer;
        @include transition(.3s);

        &:hover {
          color: #304354CC;
        }
      }
    }
  }

  .contentUsefulInformationSecondary {
    width: 100%;
    padding: 10px 25px;
    margin-left: 30px;
    border-left: 1px solid #E0E0E093;

    .socialNetworksContainer {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: $color-black;
        &.separateLine {
          &:last-child {
            padding-left: 10px;
            border-left: 1px solid #E0E0E093;
          }
        }
      }
    }
  }
}

.seasonsListContainer {
  width: 100%;
  max-width: 1400px;
  padding: 30px 0;
  margin: 0 auto;

  .seasonCard {
    padding: 20px 0;

    a {
      margin: 0;
    }
  }
}

.personDetailsContainer {
  display: flex;

  .personDetailsSub {
    width: 100%;
    padding: 10px 25px;
    margin-left: 30px;
    border-left: 1px solid #E0E0E093;
    .personDetailsPosterContainer {
      height: 430px;
      width: 280px;
      position: relative;
      top: 0;
      left: 0;
      border-radius: .7rem;
      box-shadow: 0 4px 4px rgb(0 0 0 / 20%);

      .personDetailsPosterImg {
        border-radius: .7rem;
      }
    }
  }
}


