@import 'scss/mixins';
@import 'scss/variables';

.roundButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: $color-white;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  @include transition(.3s);

  &.active {
    display: none;
  }

  @include Large-Mobile {
    &.active {
      display: flex;
    }
  }
  @include Small-Mobile {
    font-size: 1rem;
    padding: 8px;
    width: 32px;
    height: 32px;
  }

  svg {
    width: 20px !important;
    height: 20px !important;
    @include Small-Mobile {
      width: 16px !important;
      height: 16px !important;
    }
  }
  &:hover {
    background: linear-gradient(40deg, rgba(176, 176, 176, .15), rgba(176, 176, 176, .25));
  }
}
