@import 'scss/variables';
@import 'scss/mixins';

.userAvatarContainer {
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 10;

  &:hover {
    .circle {
      &.redCircle {
        svg {
          stroke-dashoffset: 130px - 74px;
        }
      }
    }
  }

  .avatar {
    width: inherit;
    height: inherit;
    border: 2px solid transparent;
    border-radius: 50%;
  }

  .circle {
    position: absolute;
    width: 45px + 12px;
    height: 45px + 12px;

    svg {
      stroke-dasharray: 260.752px, 260.752px;
      stroke-linecap: round;
      @include transition(.3s ease);
    }

    &.redCircle {

      top: -6px;
      left: -6px;
      z-index: -1;
      @include transform(rotate(-140deg));

      svg {
        stroke: $user-avatar-line-alt-color;
        stroke-dashoffset: 130px;
      }
    }
    &.greyCircle {
      top: -6px;
      left: -6px;
      z-index: -2;
      @include transform(rotate(-10deg));

      svg {
        stroke: $user-avatar-line-color;
        stroke-dashoffset: 150px;
      }
    }
  }
}
