@import 'scss/variables';
@import 'scss/mixins';

.switch {
  position: relative;
  display: inline-block;
  width: $Mode-Width;
  height: $Mode-Height;
  margin: 0 15px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      +.slider {
        background: $Slider-Color;
        border: 1px solid $Slider-Color;

        &:before {
          @include transform(translateX(24px));
        }
      }
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $Slider-Color;
    border: 1px solid $Slider-Color;
    @include transition(.4s ease);

    &:before {
      position: absolute;
      content: "";
      height: $Switcher-WidthHeight;
      width: $Switcher-WidthHeight;
      left: 1px;
      bottom: 1px;
      background-color: $Switcher-Color;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
      @include transition(.3s ease);
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }

    .icon {
      top: 50%;
      position: absolute;
      transform: translateY(-50%);

      &.dayMode {
        right: 6px;
        color: $DayMode-Icon-Color;
      }
      &.nightMode {
        left: 6px;
        color: $NightMode-Icon-Color;
      }
    }
  }
}
