@import 'scss/variables';
@import 'scss/mixins';

.dualTabButtonsContainer {
  display: flex;
  width: fit-content;
  font-family: $SFUI-Display-Semibold;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1rem;
  color: $dual-tab-buttons-color;
  margin: 10px 0;
  padding: 0 15px;

  p {
    cursor: pointer;
    @include transition(.3s);

    &.selected {
      color: $dual-tab-buttons-color-selected;
    }
  }

  span {
    margin: 0 5px;
  }
}
