@import 'scss/variables';
@import 'scss/mixins';

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-left: 14px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {

      +.slider {
        background: $color-red;
        border: 1px solid $color-red;

        &:before {
          -webkit-transform: translateX(24px);
          -ms-transform: translateX(24px);
          transform: translateX(24px);
        }
      }
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-grey;
    border: 1px solid $color-grey;
    @include transition(.4s ease);

    &:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 1px;
      bottom: 1px;
      background-color: $color-white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
      @include transition(.3s ease);
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
      color: $NightMode-Color;

      svg {
        width: inherit;
        height: inherit;
      }
    }
  }
}
